footer {
  width: 100%;
  padding: 40px 0 5px 0;
}

.footer-menu-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .footer-menu-row {
    justify-content: flex-start;
  }
}

.footer-menu-row > div {
  width: 200px;
  margin: 20px 20px;
}

/*text */
.footer-menu-row h6 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: white;
}
.footer-menu-row ul {
  list-style: none;
}
.footer-menu-row ul li a i {
  font-size: 20px;
  margin-right: 5px;
}
.footer-menu-row .contact a {
  margin-bottom: 10px;
}
.footer-menu-row a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 300;
  margin: 0 0 5px 0;
  display: inline-block;
}
.footer-menu-row a:hover {
  color: #4bcc81;
}
.footer-menu-row a:hover i {
  color: #4bcc81;
}

.social-media-footer {
  margin: 10px 0 0 0;
}
.social-media-footer a .fab {
  font-size: 25px !important;
  margin-right: 5px;
}
.social-media-footer .underline-dg {
  margin: -10px 0 10px 0;
  width: 145px;
}

/*copyright */
.copyright-container {
  border-top: 1px solid white;
  margin: 40px auto 0 auto !important;
  font-size: 14px;
}
.copyright-container > div {
  margin: 10px 0;
  font-family: "work-sans", sans-serif !important;
}

/*subscription are*/

.footer .mailchimp-form input {
  width: 100%;
  height: 35px;
  margin: 0 0 10px 0;
  padding: 0 5px;
}
.footer .mailchimp-form input:focus {
  color: black;
}
.footer .mailchimp-form .button {
  background: #ee6869;
  border: none;
  color: white;
  border-radius: 2px !important;
}
.footer .mailchimp-form .button:hover {
  background: #fd7a7a !important;
}

/* arrow to the header */
.go-to-header {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  z-index: 10000;
}
.go-to-header a i {
  font-size: 40px;
}
.show {
  display: block !important;
}
.hide {
  display: none;
}

/* copyright */
.copyright-container div {
  color: white !important;
}
