/*usp */
.home-page .usp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.home-page .usp > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 !important;
  flex-wrap: wrap;
}
.home-page .usp .ft-wt-med {
  text-transform: uppercase;
}
.home-page .usp > div {
  padding: 20px 20px;
}
.home-page .usp i {
  padding: 0px 10px 0 0;
  font-size: 40px;
}

@media (max-width: 740px) {
  .home-page .usp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .home-page .usp > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0 !important;
    flex-wrap: wrap;
    padding: 20px 20px;
  }
}
/* category container */
.category-section {
  padding: 30px 0 100px 0;
}
.category-section .products .product .product-card {
  padding: 20px 5px 10px 5px;
}

.category-section .products .product .regular-price {
  text-decoration: line-through;
  margin-right: 5px;
}
.category-section .products .product .percentage {
  padding: 2px 5px;
}
.category-section .products .product .add-to-cart-container {
  padding: 0 5px 20px 5px;
  display: none;
}
.category-section .products .product:hover .add-to-cart-container a {
  color: #4fb68d;
  font-weight: 700;
}
/* usp section */
.usp-section {
  margin: 100px 0;
}

.usp-section .flex .cards:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.usp-section .flex .cards:nth-child(even) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.usp-section .cards .img-container {
  width: 50%;
}
.usp-section .cards .img-container img {
  width: 100%;
}
.usp-section .cards .content-container {
  width: 45%;
}
.usp-section .cards .content-container .section-ft-size {
  margin-bottom: 10px;
}
.usp-section .cards .content-container p {
  font-size: 16 px;
  line-height: 1.5em;
  color: rgb(75, 75, 75);
}
@media (max-width: 1000px) {
  .usp-section .cards .img-container {
    width: 100%;
    max-width: 500px;
  }
  .usp-section .cards .content-container {
    width: 100%;
  }
  .usp-section .flex .cards:nth-child(odd) {
    justify-content: center;
    margin: 50px 0 150px 0;
  }
  .usp-section .flex .cards:nth-child(even) {
    justify-content: center;
    margin: 50px 0 150px 0;
  }
}

/* about us section on a front page */
.about-section {
  padding: 100px 0 0 0;
  background-image: radial-gradient(
    circle at center,
    #7ccc9a 0%,
    #26cc6b 100%
  ) !important;
}

.about-section .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.about-section .flex .content {
  width: 50%;
}
.about-section .flex .img-container {
  width: 40%;
}
.about-section .flex .img-container img {
  width: 100%;
  margin-bottom: -4px;
}
@media (max-width: 800px) {
  .about-section .flex .content {
    width: 100%;
  }
  .about-section .flex .img-container {
    width: 100%;
  }
}
.about-section .flex .content div {
  margin-bottom: 10px;
}
.about-section .flex .content p {
  font-size: 16px;
  line-height: 1.5em;
}
.about-section .flex .content a {
  display: inline-block;
  margin-top: 20px;
}
/* brand  */
.brand-stripe {
  margin: 50px 0;
}

.brand-stripe .flex {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.brand-stripe .flex img {
  width: 200px;
  height: auto;
  object-fit: scale-down;
}

/* about us page */
