.header .top-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.header .link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}
.header .link-container > li {
  list-style: none;
  padding: 0 40px;
  border-right: 1px solid rgb(63, 63, 63);
}
.header .link-container > li:last-child {
  list-style: none;
  padding: 0 0 0 40px;
  border-right: none;
}

/* profile menu */
.header .login-area {
  position: relative;
}
.header .login-area nav {
  display: none;
}
.header .login-area .mega-menu-wrap {
  background-color: #253237 !important;
  position: absolute !important;
  z-index: 1000;
}
.header .login-area .mega-menu-wrap .mega-menu-horizontal {
  display: flex !important;
  flex-direction: column;
  width: 200px !important;
}
.header .login-area .mega-menu-wrap .mega-menu-horizontal a {
  cursor: pointer !important;
}
/* navbar */
.header .navbar {
  padding: 10px 0;
  position: relative;
}
.header .navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .container .logo-container {
  width: 300px;
}
.header .navbar .container .links {
  width: 70%;
}

/* search icon */
.search-icon {
  display: block;
  cursor: pointer;
}

.search-icon svg {
  fill: white;
}
.search-icon svg:hover {
  fill: #4fb68d;
}
.search-code {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}
.search-code i {
  color: white;
}
.search-code form {
  position: absolute;
  top: 70px;
  left: 20px;
  right: 20px;
}
/* mobile media query */
@media (max-width: 500px) {
  .header .link-container > li {
    list-style: none;
    padding: 0 10px;
    border-right: 1px solid rgb(63, 63, 63);
  }
  .header .link-container > li:last-child {
    list-style: none;
    padding: 0 0 0 10px;
    border-right: none;
  }
  .mega-toggle-block {
    margin-left: -10px !important;
  }
  .navbar .logo-container img {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  .navbar .logo-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
  }
  .header .navbar .container .links {
    width: 100%;
  }
  .header .navbar .container .links .mega-menu-horizontal {
    position: absolute !important;
    width: 100% !important;
    z-index: 1002;
  }
}
/* main navbar */
