/* login  */
form#login {
  display: none;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 25px 25px 25px;
  width: 95%;
  z-index: 999;
  max-width: 400px;
  color: #878787;
  font-size: 11px;
}

form#login h1 {
  color: #333333;
  font-size: 27px;
  font-weight: 100;
  text-align: center;
  line-height: 1;
  margin: 0 0 30px 0;
  font-weight: 500;
}

form#login input#username,
form#login input#password {
  border: 1px solid #ededed;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
  color: #333333;
  font-size: 15px;
  padding: 10px 10px 10px 13px;
  width: 100%;
  margin: 7px 0 30px 0;
  background-color: #f9f9f9;
}
form#login .lost {
  display: block !important;
  margin-bottom: 20px !important;
}
form#login input#username:focus,
form#login input#password:focus {
  background-color: #fff;
}
form#login .flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 20px 0 0 0 !important;
}
form#login input.submit_button {
  display: block;
  font-size: 13px;
  color: #fff;
  border: 1px solid #b34336;
  background-color: #e25c4c;
  text-shadow: 0 1px 0 #ba3f31;
  padding: 9px 31px 9px 31px;
  margin-bottom: 10px;
}

form#login a {
  text-decoration: none;
}

form#login a.close {
  color: #dcdcdc;
  position: absolute;
  right: 15px;
  top: 15px;
}

form#login a.lost {
  color: #b4b2b2;
  float: left;
  margin: 10px 0 0 0;
}

form#login p.status {
  text-align: center;
  margin: -25px 0 20px 0;
  display: none;
}

a.login_button {
  padding: 5px 7px 5px 7px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  color: #333;
  text-decoration: none;
  font-size: 11px;
}

.login_overlay {
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  opacity: 0.9;
  position: fixed;
  z-index: 998;
}
