/*product information*/
/* product title */
.bc-product-card--single .bc-product__title,
.bc-product-single__meta .bc-product__title {
  line-height: 1.2 !important;
  font-size: 40px !important;
  font-weight: 300 !important;
}

/*product-description*/
.bc-product__description p:last-child {
  color: #444444;
  line-height: 1.4em;
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: 25px;
  font-family: "work sans", sans-serif;
  font-weight: 300;
}

/*product-short-description*/
.product-short-description-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.3em;
  letter-spacing: 1px;
}

.product-short-description {
  font-size: 16px;
  color: #444444;
  line-height: 1.3em;
}
/*product specifications*/
.specification-table td {
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px !important;
}

/* pricing section */
.bc-product__pricing {
  display: flex !important;
  flex-direction: column-reverse !important;
}
.bc-product__pricing > p {
  margin-top: 0 !important;
}
.bc-product__price--sale {
  color: #4fb68d !important;
  font-weight: 500;
}
/*add to cart */
.bc-product-form__quantity-label {
  margin-right: 40px;
}
.bc-product-form__quantity-input {
  width: 60px;
  padding: 11px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  color: #576166;
  vertical-align: middle;
}
.quantity[type="text"] {
  width: 60px;
  padding: 11px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  color: #576166;
  vertical-align: middle;
}

.bc-get-prices-wrapper.bc-product__pricing--visible,
.bc-get-prices-wrapper.bc-show-pricing-spinner,
.bc-product__pricing--api.bc-product__pricing--visible,
.bc-product__pricing--api.bc-show-pricing-spinner,
.bc-product__pricing--cached.bc-product__pricing--visible,
.bc-product__pricing--cached.bc-show-pricing-spinner {
  color: #999;
  display: inline-block;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
}
.bc-btn--add_to_cart {
  background-color: #4fb68d !important;
}

/*wishlist*/
.entry-content button.bc-btn.bc-pdp-wish-list-toggle,
button.bc-btn.bc-pdp-wish-list-toggle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #4fb68d;
  color: #4fb68d;
  transition: opacity 0.3s ease;
  text-align: left;
  margin-top: 20px;
}

.bc-wish-list-item-anchor {
  color: #4fb68d !important;
  font-size: 16px !important;
  display: inline-block;
  margin-bottom: 10px;
}
.bc-wish-list-btn--new {
  color: #4fb68d !important;
}
.bc-pdp-wish-lists li:hover {
  background: #f8f7f3 !important;
}
.bc-pdp-wish-lists li:last-child:hover {
  background: none !important;
}
.bc-pdp-wish-lists a {
  padding: 5px;
}
.bc-product-single .initialized a {
  background: none !important;
  color: #4fb68d !important;
}
/*sample and wallpaper buttin */

.product-page-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.product-page-btn-container a {
  text-decoration: none;
  width: 49%;
  display: block;
  text-align: center;
  border: 1px solid #4fb68d;
  padding: 10px 0;
  font-weight: 400;
  letter-spacing: 1px;
}
.product-page-btn-container a:hover,
.product-page-btn-container a:hover i {
  background: #4fb68d;
  color: white;
}

@media (max-width: 1050px) {
  .product-page-btn-container a {
    width: 100%;
    margin-top: 10px;
  }
}

/*availability section */
.availability {
  margin-top: 20px;
}
.availability .days {
  color: #999;
  line-height: 1.3em;
}

/*share section */
.share-section {
  margin-top: 5px;
  line-height: 1.4em;
}
/*calculator*/
.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100vh;
  z-index: -1;

  transition-timing-function: ease-in-out;
}
.overlay-background--visible {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.calculator-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  width: 80%;
  height: 90vh;
  background-color: white;
  opacity: 0;
  z-index: -2;
  transition-timing-function: ease-in-out;
  overflow-y: scroll;
}

.calculator-overlay--visible {
  opacity: 1;
  z-index: 2;
}

/*calculator form styling*/
.wallpaper-calculator-modal h1 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px !important;
}

#wallpaper-calculator select {
  display: block;
  width: 100%;
  margin: 7px 0 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 11px 15px;
}

#wallpaper-calculator input[type="text"] {
  width: 100%;
  padding: 11px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
  font-size: 16px;
  color: #576166;
  vertical-align: middle;
  background-color: #efefef;
}
#wallpaper-calculator input[type="text"]:focus {
  color: black;
}
#wallpaper-calculator label {
  margin-bottom: 5px;
  display: block;
}
.estimate-result {
  background-color: #fff1eb;
  padding: 20px 20px;
}
.estimate-result h3 {
  font-size: 20px;
  font-weight: 600;
}
.estimate-result p {
  font-size: 30px;
}

.calculator-overlay button {
  background: #4fb68d !important;
  border-radius: 0% !important;
  color: white;
}
.calculator-overlay button:hover {
  background: white !important;
  color: #4fb68d !important;
  outline: #4fb68dsolid 1px;
}

/*inspiry calculator*/

/*popup overlay*/
#calculator-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wallpaper-calculator-modal {
  width: 40%;
}

.wallpaper-calculator-modal h1 {
  font-family: inherit;
  text-align: center;
  text-transform: inherit !important;
  margin-bottom: 10px !important;
}

.popup-modal-overlay {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}

.popup-modal-overlay.has-open-modal {
  display: block;
}

.popup-modal {
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 45px 15px 20px;
  opacity: 0;
  pointer-events: none;
  z-index: 1011;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.calculator-overlay .close {
  text-decoration-line: none;
  position: absolute;
  font-size: 2.5rem;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: inherit;
  z-index: 2000;
  color: #4fb68d;
}
.calculator-overlay .close:hover {
  color: #525659;
}

.popup-modal.is-open {
  opacity: 1;
  display: inherit;
  pointer-events: auto;
}

#wallpaper-calculator > section:first-child {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px 20px;
}

#wallpaper-calculator section:first-child > div {
  grid-column: 1 / span 2;
}

#wallpaper-calculator aside {
  width: auto;
  padding: 5px 0;
}

#wallpaper-calculator .input-group {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

#wallpaper-calculator .input-group input {
  margin: 0;
}

div .input-group-addon {
  padding: 0;
  position: static;
}

@media only screen and (max-width: 1700px) {
  .wallpaper-calculator-modal {
    width: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  .wallpaper-calculator-modal {
    width: 80%;
  }

  .popup-modal {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 967px) {
  .wallpaper-calculator-modal {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  /*#wallpaper-calculator aside {
        width: 100%;
    } 

    #wallpaper-calculator .input-group {
        display: block;
    }
    

    #wallpaper-calculator .input-group input {
        width: 90%;
    } 
}

@media only screen and (max-width: 500px) {
    #wallpaper-calculator .input-group input {
        width: 85%;
    }
}
*/
}

/*alerts */
.bc-alert--success {
  background-color: #3ec889;
  filter: saturate(0.6) !important;
}

.bc-single-product__specifications
  table
  tbody
  tr[data-dimensionsExists="has-value"] {
  display: none;
}
