/*layout */

.woocommerce-checkout .woocommerce-checkout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.woocommerce-checkout .woocommerce-checkout .form-row span {
  width: 100%;
}
.woocommerce-checkout .woocommerce-checkout #customer_details {
  width: 60% !important;
}
.woocommerce-checkout .woocommerce-checkout .order-review-container {
  width: 30% !important;
}
.woocommerce-checkout .woocommerce-checkout .order-review-container h3 {
  margin-bottom: 20px;
}
.woocommerce-NoticeGroup-checkout {
  width: 100% !important;
}

@media (max-width: 860px) {
  .woocommerce-checkout .woocommerce-checkout #customer_details {
    width: 100% !important;
  }
  .woocommerce-checkout .woocommerce-checkout .order-review-container {
    width: 100% !important;
    margin-top: 40px;
  }
}

.woocommerce-info {
  border-top-color: #ee6869 !important;
}
.woocommerce-info::before {
  color: #ee6869 !important;
}

/*form input*/
.woocommerce-checkout input {
  padding: 10px 5px;
}
.woocommerce-checkout select {
  height: 20px;
}
