.cart-popup-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 50px;
  right: 0;
  overflow: scroll;
  padding: 20px 0;
  z-index: 2000;
  background: white;
  display: none;
}
.cart-popup-container .fa-times {
  position: static !important;
  font-size: 20px;
}
.cart-popup-container .fa-times:hover {
  font-size: 20px;
}

.cart-popup-container .product-card:nth-child(even) {
  background: rgb(240, 240, 240) !important;
}
.cart-popup-container .product-card {
  padding: 10px 10px;
}
.cart-popup-container .product-card a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-popup-container .product-card .img-container {
  width: 70px;
}
.cart-popup-container .product-card .title-container {
  width: 190px;
}
.cart-popup-container .product-card .price-container {
  width: 70px;
}
.cart-popup-container img {
  width: 70px;
  height: 50px;
  object-fit: cover;
}

/*buttons */
.pop-up-footer {
  width: 90% !important;
  margin: 0 auto;
}
.cart-popup-container .total-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cart-popup-container .total-container > div {
  width: 40%;
  margin: 10px 10px 10px 0;
}
.cart-popup-container .total-container .total {
  text-align: left;
}

.cart-popup-container .cont-shopping {
  margin: 10px 0 10px 0;
}
