/* flex for gallery and summary  */
.single-product #main .product {
  display: flex;
  margin: 50px 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.single-product #main .product .woocommerce-product-gallery {
  width: 55% !important;
}
.single-product #main .product .summary {
  width: 40% !important;
}

/* woocommerce tabs */
#main .woocommerce-tabs li a {
  font-size: 18px !important;
}
#main .woocommerce-Tabs-panel h2 {
  font-size: 16px;
}

/*single product container*/
.single-product #main .img-summary-container .img-container {
  width: 60%;
}
.single-product #main .img-summary-container .entry-summary {
  width: 35%;
}
.single-product #main .flex {
  border: solid red;
}
.single-product #main .product_title {
  line-height: 1.2 !important;
  font-size: 40px !important;
  font-weight: 300 !important;
  margin-bottom: 10px;
  color: rgb(63, 63, 63);
}
@media (max-width: 900px) {
  .single-product #main .img-summary-container .img-container {
    width: 100%;
  }
  .single-product #main .img-summary-container .entry-summary {
    width: 100%;
  }
  .single-product #main .product .woocommerce-product-gallery {
    width: 100% !important;
  }
  .single-product #main .product .summary {
    width: 100% !important;
  }
}
.woocommerce-message {
  border-top-color: rgb(63, 63, 63) !important;
}
.woocommerce-message::before {
  color: rgb(63, 63, 63) !important;
}
/*woo gallery*/

.woocommerce-product-gallery .flex-control-thumbs li {
  margin: 10px 10px 0 0 !important;
}
/* product description*/
.single-product #main .product-description {
  color: #444;
  line-height: 1.4em;
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: 25px;
  font-family: work sans, sans-serif;
  font-weight: 300;
}
.single-product #main .woocommerce-Price-amount,
bdi {
  margin: 0 !important;
  font-family: "Roboto", sans-serif;
}
.single-product #main del bdi {
  text-decoration: line-through !important;
  margin-right: 5px !important;
  color: #9f9f9f !important;
  font-family: "Roboto", sans-serif;
}
.single-product #main del bdi span {
  text-decoration: line-through !important;
  color: #9f9f9f !important;
  font-family: "Roboto", sans-serif;
}

.single-product #main .price bdi {
  color: rgb(63, 63, 63);
  display: inline-block;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.single-product #main .price span {
  color: rgb(63, 63, 63);
  display: inline-block;
  font-size: 35px !important;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.single-product #main #tab-additional_information h2 {
  display: none !important;
}
.tabs li {
  list-style: none !important;
}
.tabs a {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.3em;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.single-product #main .entry-content {
  width: 100%;
  margin-top: 10px;
}
.single-product #main .woocommerce-product-attributes-item__label {
  text-align: left;
  font-weight: 600 !important;
}
.single-product #main .woocommerce-product-attributes-item__value,
p {
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  font-weight: 300 !important;
}

/*add to cart*/
.woocommerce .quantity .qty {
  background: #fff;
  border: 1px solid #e0e3e9;
  font-size: 0.813em;
  text-align: center;
  padding: 11px 15px !important;
  width: 70px;
  display: block !important;
  margin: 20px 0 10px 0 !important;
}
.single-product #main .cart .quantity {
  display: flex;
  flex-direction: row;
}
.single-product #main .cart h6 {
  font-size: 18px !important;
  border: none !important;
  padding: 11px 0 !important;
  margin: 20px 10px 10px 0 !important;
}

.single-product #main .single_add_to_cart_button {
  color: #fff !important;
  font-family: sans-serif;
  width: 100%;
  padding: 15px 20px !important;
  border-radius: 0;
  font-weight: 400 !important;
  line-height: 1.6;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  opacity: 1;
  border-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  transition: all 0.15s ease-in-out !important;
  background-color: #4fb68d !important;
  letter-spacing: 1px !important;
  font-family: "Roboto", sans-serif !important;
}
.single-product #main .single_add_to_cart_button:hover {
  background: #253237 !important;
}

/*availability */
.availability {
  margin-top: 20px;
}
.availability .days {
  color: #999;
  line-height: 1.3em;
  font-family: "Roboto", sans-serif;
}
.share-section {
  margin-top: 5px;
  line-height: 1.4em;
}

/*wishlist and design board*/
.wishlist-designer-board-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}
.yith-wcwl-add-to-wishlist {
  margin-top: 0 !important;
}
.yith-wcwl-add-button a {
  padding: 0 !important;
}
.yith-wcwl-add-to-wishlist i {
  margin-top: 5px !important;
  font-size: 25px !important;
  font-weight: 300 !important;
}

/*warrenty */
.bc-single-product__warranty h1 {
  padding: 10px 0 !important;
}
.bc-single-product__warranty i {
  padding: 0 20px !important;
}
.bc-single-product__warranty p,
span {
  color: rgb(63, 63, 63);
  line-height: 1.5em;
  font-size: 15px !important;
}
@media (max-width: 767px) {
  .desktop-warranty {
    display: none;
  }
  .mobile-warranty {
    display: block;
  }
}

/*warranty*/
.bc-single-product__warranty ul {
  padding: 0 20px;
  display: none;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  width: 100% !important;
  float: left;
  margin: 0;
  list-style: none;
}
.woocommerce div.product div.images .flex-control-thumbs li img {
  width: 220px;
  height: 150px;
  object-fit: cover;
}
.flex-control-thumbs .owl-nav {
  position: absolute;
}
.flex-control-thumbs .owl-nav {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}
.flex-control-thumbs .owl-nav span {
  font-size: 40px !important;
}
.flex-control-thumbs .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  pointer-events: visibleFill;
}
.flex-control-thumbs .owl-nav .owl-next {
  position: absolute;
  right: 0;
  pointer-events: visibleFill;
}

@media (max-width: 340px) {
  .woocommerce div.product div.images .flex-control-thumbs li img {
    width: 220px;
    height: 100px;
    object-fit: cover;
  }
}

/* related product */
.related .products {
  display: flex !important;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.related .products .product {
  flex-basis: 180px !important ;
  width: 180px !important;
}
/* product description  */

.woocommerce-Tabs-panel--description p {
  line-height: 1.5em;
  color: rgb(75, 75, 75);
  font-weight: 300;
  font-size: 16px;
}

/* price */
.single-product .price {
  margin-bottom: 20px;
}
